<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FirstApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FirstApp.Properties.Settings>
            <setting name="Name1" serializeAs="String">
                <value>Интернет</value>
            </setting>
            <setting name="Name2" serializeAs="String">
                <value>Локальная сеть</value>
            </setting>
            <setting name="IpAddress1" serializeAs="String">
                <value />
            </setting>
            <setting name="IpAddress2" serializeAs="String">
                <value />
            </setting>
            <setting name="SubnetMask1" serializeAs="String">
                <value />
            </setting>
            <setting name="SubnetMask2" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultGateway1" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultGateway2" serializeAs="String">
                <value />
            </setting>
            <setting name="PrimaryDns1" serializeAs="String">
                <value />
            </setting>
            <setting name="PrimaryDns2" serializeAs="String">
                <value />
            </setting>
            <setting name="SecondaryDns1" serializeAs="String">
                <value />
            </setting>
            <setting name="SecondaryDns2" serializeAs="String">
                <value />
            </setting>
            <setting name="NetworkName" serializeAs="String">
                <value />
            </setting>
        </FirstApp.Properties.Settings>
    </userSettings>
</configuration>